/* TeamSection.css */
.team-section-title {
   width: 80%;
   margin-left: 10%;
   margin-top: 60px;
   
   /* border: 4px solid blue; */
    text-align: left; /* Align content to the left */
  }
  
  .team-titles{
    
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }
  
  .team-description {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;
  }
  
  .team-tabs {
    display: flex;
    justify-content: flex-start; /* Align tabs to the left */
    gap: 15px;
    float: left;
    margin-bottom: 20px;
    /* border: 2px solid black */
    
  }
  
  .team-tab {
    padding: 10px 20px;
    font-size: 1rem;
    color: #2581C4;
    background-color: #f0f0f0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
  }
  
  .team-tab.active {
    background-color: #2581C4;
    color: #fff;
  }
  
  .team-content {
    font-size: 1rem;
    color: #333;
    margin-top: 20px;
    text-align: left; /* Align content text to the left */
  }
  