.achievements-container {
  text-align: center;
  margin: 40px auto;
  margin-bottom: 30px;
  padding: 20px;
  background: #F8F9FA;
}

.achievements-title {
  font-size: 25px;
  font-family: "Inter", sans-serif;
  margin-bottom: 40px;
}

.certificates-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 92%;
  margin: auto;
}

.certificate {
  width: 280px; /* Set width */
  height: 280px; /* Set height */
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.certificate-image {
  width: 100%; /* Make the image fill the container width */
  height: 100%; /* Make the image fill the container height */
  object-fit: cover; /* Ensure the image covers the container without overflow */
}

.dots-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #333; /* Change to your preferred active color */
}

/* Responsive adjustments */
@media (max-width: 599px) {
  .achievements-title {
    font-size: 22px;
  }

  .certificates-container {
    gap: 10px;
    justify-content: center; /* Center items for smaller screens */
  }

  .certificate {
    width: 200px; /* Adjust width for smaller screens */
    height: 200px; /* Adjust height for smaller screens */
  }

  .dots-container {
    display: flex;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {
  .certificate {
    width: 250px; /* Adjust width for medium screens */
    height: 250px; /* Adjust height for medium screens */
  }
}

@media (min-width: 1024px) {
  .certificate {
    width: 280px; /* Maintain original size for large screens */
    height: 280px;
  }
}
